.starMeter {
    width: 25vh;
    height: 5vh;
}

.fill {
    background-color: yellow;
    height: 5vh;
}

.overlay__wrapper {
    position: absolute;
    height: 7vh;
    top: 4vh;
    width: 30vh;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 25vh;
    overflow: hidden;
}

svg {
    filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.4));
}