.overview {
    padding-left: 10%;
    padding-top: 5%;
}

.photo {
    padding-right: 10%;
    padding-top: 5%;
}

/* Clear floats after the columns */

.cardFace{
    text-align: center;
    padding: 3em;
    width: 100%;
    @media (max-width: 700px) {
        padding: 1em;
    }
}

.heading {
    padding-top: .5em;
    padding-bottom: .5em;
}

.front {
    flex: 1;
    .content {
        padding-top: 2.5em;
        padding-bottom: 1em;
    }
    .wrapper{
        max-height: inherit;
        line-height: 200%;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .heading{
        color:#04151a;
    }
    a {
        background: linear-gradient(to right, #ffbb00 0%, #dd4c4f 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
        text-decoration: underline;
        font-weight: bold;
    }
}

.wrapper{
    font-size: 1.5em;
    padding-left: 50px;
    padding-right: 50px;
}

.back {
    flex: 1;
    background-color: #04151a;
    background-image: url("../../imgs/Circuit.svg");
    background-size: cover;
    color: white;
    width: 100%;
    height: 100%;
    .heading{
        color:white;
    }
    .content {
        text-align: left;
    }
    a {
        background: linear-gradient(to right, #00bfff 0%, #1100ff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
        text-decoration: underline;
        font-weight: bold;
    }

    @media (min-width: 700px) {
        .content{
            padding: 30px;
            display: flex;
            width: 100%;
            .wrapper{
                min-width: 50%;
            }
        }
    }

}